@import "../../styles/index.scss";

.category-filter-popup {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #e1e1e1;

  .popup-header {
    padding: 20rpx 20rpx 0;
    display: flex;
    flex-wrap: wrap;
  }

  .popup-content {
    padding: 0 20rpx;
  }

  .category-section {
    margin-bottom: 20rpx;
    border-bottom: 1px solid #ccc;
  }

  .category-section-header {
    margin-bottom: 10rpx;
    font-size: 30rpx;
  }

  .category-item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .category-item {
    width: 100rpx;
    padding: 4rpx 10rpx;
    margin-right: 10rpx;
    margin-bottom: 10rpx;
    font-size: 24rpx;
    text-align: center;
    color: #666;
    border: 1rpx solid #eee;
    background: #fff;

    &.active {
      color: #ff4400;
      border: 1rpx solid #ff4400;
    }

    &.active-categories {
      width: auto;
    }
  }

  .popup-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20rpx;
    padding-right: 20rpx;
    @include safe-padding-bottom();
    box-sizing: border-box;
  }

  .popup-footer-button {
    width: 45vw;
    text-align: center;
    color: #999;
    line-height: 60rpx;
    font-size: 24rpx;
    background: #fff;
    border: 1rpx solid #999;

    &.fill {
      border: 1rpx solid #444;
      color: #444;
    }
  }

  .popup-header__inner {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 4rpx 20rpx;
    margin-bottom: 20rpx;
    color: #999;
    height: 30rpx;
    line-height: 30rpx;
    background: #ccc;
  }
}