.page-member {

  .member-height {
    height: 100rpx;
    background-color: brown;
  }

  .member-footer {
    height: 120rpx;
    background-color: brown;
  }

  .member-content {
    margin-top: 100rpx;
    padding-bottom: 120rpx;
    height: 120vh;
    background-color: cadetblue;
  }
}