@import "../../styles/index.scss";

.page-index {
  min-height: 100vh;
  background: transparent;

  .min-view-height {
    height: 20vh;
  }

  .index-header {
    height: 50rpx;
    text-align: center;
    background-color: transparent;
  }

  .index-footer {
    text-align: center;
    color: #444;
  }

  .index-content {
    // padding-top: 50rpx;
    padding: 50rpx 0 44rpx;
  }
}

.index-popup {
  height: 20vh;
  @include safe-padding-bottom($tab-bar-height);
  box-sizing: border-box;
}