@keyframes viewFadeIn {
  0% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes viewFadeOut {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideDownIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 120%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes slideDownOut {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, 120%, 0);
  }
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes slideUpOut {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  to {
    opacity: 0;
    transform: translate3d(0, -120%, 0);
  }
}

@keyframes slideLeftIn {
  0% {
    opacity: 0;
    transform: translate3d(-120%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes slideLeftOut {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  to {
    opacity: 0;
    transform: translate3d(-120%, 0, 0);
  }
}

@keyframes slideRightIn {
  0% {
    opacity: 0;
    transform: translate3d(120%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes slideRightOut {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }

  to {
    opacity: 0;
    transform: translate3d(120%, 0, 0);
  }
}

.animate-fade__in {
  opacity: 1;
  animation: viewFadeIn ease 0.5s forwards;
}

.animate-fade__out {
  opacity: 0;
  animation: viewFadeOut ease 0.5s forwards;
}

.animate-slide__down-in {
  opacity: 1;
  animation: slideDownIn ease 0.5s forwards;
}

.animate-slide__down-out {
  opacity: 0;
  animation: slideDownOut ease 0.5s forwards;
}

.animate-slide__up-in {
  opacity: 1;
  animation: slideUpIn ease 0.5s forwards;
}

.animate-slide__up-out {
  opacity: 0;
  animation: slideUpOut ease 0.5s forwards;
}

.animate-slide__left-in {
  opacity: 1;
  animation: slideLeftIn ease 0.5s forwards;
}

.animate-slide__left-out {
  opacity: 0;
  animation: slideLeftOut ease 0.5s forwards;
}

.animate-slide__right-in {
  opacity: 1;
  animation: slideRightIn ease 0.5s forwards;
}

.animate-slide__right-out {
  opacity: 0;
  animation: slideRightOut ease 0.5s forwards;
}
