.atom-confirm {
  display: flex;

  .atom-confirm-container {
    width: 100%;
    width: 100%;
    background-color: #fff;
  }

  .confirm-footer {
    display: flex;
    width: 100%;
    text-align: center;
  }

  .confirm-cancel,
  .confirm-button {
    flex: 1;
  }
}