wxs(src="../../wxs/trigger-ext-class.wxs" module="_")
view.component-atom-input(class="{{_.triggerExtClass(extClass)}}")
  slot(name="before")
  view.atom-input-readonly(wx:if!="{{readonly}}") {{value}}
  input.atom-input__standard(
    wx:else
    placeholder="{{placeholder}}"
    maxlength="{{maxlength}}"
    value="{{value}}"
    disabled="{{disabled}}"
    bind:input="handleInput"
    bind:change="handleChange"
    bind:blur="handleBlur"
  )
  slot(name="after")