@import "../styles/index.scss";

.custom-nav-bar {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  @include flex-box();
  background-color: #fff;

  .nav-bar-left,
  .nav-bar-center,
  .nav-bar-right {
    @include flex-box();
  }

  .nav-bar-center {
    text-align: center;
  }
}